.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.btn-login{
    background-color: rgb(14, 54, 231);
    border:double;
    border-color: rgb(63, 103, 121);
}
.btn-back{
    background-color: rgb(14, 54, 231);
    border:double;
    border-color: rgb(63, 103, 121);

}