.layout{
    background: linear-gradient(rgba(177, 218, 235, 0.5),rgba(127, 171, 236, 0.5)), url(../../../assets/img/Fondo.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}