.container {
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

h3{
    font-family: 'Roboto', sans-serif;
}

.btn-reg{
    background-color: rgb(45, 125, 245);
}