<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">

            <div class="card text-center" style="padding: 20px;">
                <h3>Cambiar Password</h3>
                <app-loading *ngIf="loading"></app-loading>
                <form [formGroup]="cambiarPassword" (ngSubmit)="guardarPassword()">
                    <div class="form-group" style="text-align: start;">
                        <input type="password" class="form-control" placeholder="Contraseña Anterior"
                            formControlName="passwordAnterior">

                        <span class="text-danger ml-3"
                            *ngIf="cambiarPassword.controls['passwordAnterior'].errors?.required && cambiarPassword.controls['passwordAnterior'].touched">
                            Este campo es <strong> obligatorio*</strong>
                        </span>
                    </div>

                    <div class="form-group" style="text-align: start;">
                        <input type="password" class="form-control" placeholder="Contraseña Nueva"
                            formControlName="nuevaPassword">


                        <span class="text-danger ml-3"
                            *ngIf="cambiarPassword.controls['nuevaPassword'].errors?.required && cambiarPassword.controls['nuevaPassword'].touched">
                            La nueva contraseña<strong> es obligatoria*</strong>
                        </span>


                        <span class="text-danger ml-3"
                            *ngIf="cambiarPassword.controls['nuevaPassword'].errors?.minlength">
                            La contraseña debe de tener como <strong>minimo 6 caracteres*</strong>
                        </span>
                    </div>

                    <div class="form-group" style="text-align: start;">
                        <input type="password" class="form-control" placeholder="Repetir Contraseña"
                            formControlName="confirmPassword">

                        <span class="text-danger ml-2"
                            *ngIf="cambiarPassword.hasError('notSame') && cambiarPassword.controls['confirmPassword'].touched">
                            Contraseñas<strong> no coinciden*</strong>
                        </span>
                    </div>

                    <div class="class col text-center">
                        <button class="class btn btn-secondary mr-2 " routerLink="../">Regresar</button>
                        <button class="btn btn-primary btn-acep"
                            [disabled]="cambiarPassword.invalid">Aceptar</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>